:root {
    --background-color: #1e1e2e;
    --color: #cdd6f4;
    --header-color: #cdd6f4;
    --shadow-color: #181825;
    --border-color: #bac2de;
    --highlight-color: #313244;
    --footer-color: #bac2de;
}

html {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: Georgia, serif;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    height: 100%;
    flex-direction: column;
    transition: background-color 0.1s;
}

body.light-mode {
    --background-color: #eff1f5;
    --color: #4c4f69;
    --header-color: #4c4f69;
    --shadow-color: #ccd0da;
    --border-color: #4c4f69;
    --highlight-color: #ccd0da;
    --footer-color: #bac2de;
}

#konfetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.toggle-button {
    color: var(--color);
    font-size: 1.4rem;
    position: fixed;
    top: 1rem;
    left: calc(100% - 2.8rem);
    background: none;
    border: none;
    cursor: pointer;
}

header {
    color: var(--header-color);
    text-align: center;
    padding: 1em;
    font-size: 1.2rem;
    user-select: none;
}


modus {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

modus button{
    background: none;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 14rem;
    margin: 1rem;
    color: var(--color);
    font-size: 1.3rem;
    background-color: var(--background-color);
    box-shadow: 4px 4px var(--shadow-color);
}

modus button:hover{
    background-color: var(--highlight-color);
    cursor: pointer;
}

modus button:focus{
    background-color: var(--highlight-color);  
}

#timer {
    font-size: 1rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.progressbar-container {
    text-align: center;
    margin-bottom: 4rem;
    background-color: var(--highlight-color);
    border-radius: 10px;
    width: 20rem;
    height: 0.8rem;
}

.progressbar {
    background-color: var(--color);
    width: 0%;
    height: 0.4rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    border-radius: 10px;
    overflow: hidden;
    transition: width 0.3s ease;
}

grunnstoff {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 10rem;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid var(--border-color);
}

grunnstoff atomnr {
    font-size: 2rem;
}

grunnstoff symbol {
    font-size: 3rem;
}

.input-container {
    text-align: center;
    margin-top: 3em;
}

.input-container input{
    text-align: center;
    background: none;
    border: none;
    border-bottom: solid var(--highlight-color) 1px;
    color: var(--color);
    outline: none;
    font-size: 2rem;
    width: 20rem;
}

.input-container input:focus {
    border-bottom: solid var(--color) 1px;
}

footer {
    padding: 1em;
    text-align: center;
    font-size: 1rem;
    color: #999;
}

#hemmelig:hover {
    cursor: pointer;
}

@media (max-width: 576px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 315px) {
    html {
        font-size: 8px;
    }
}